<script src="../js/recruitment_post.js"></script>
<div ng-controller="recruitmentPostCtrl">
    Welcome to the recruitment post!
    Here you can recruit new troops. {{$parent.getCapacity}}
    <div ng-if="capacity > 0 && capacity < 4">
        You do not have enough quarter space for a full recruitment. Unless you expand your capacity your next recruitment will be smaller than usual.
    </div>
    <div ng-if="capacity === 0">
        You do not have any quarter space. Unless you expand your capacity you will not be able to deploy your recruiters.
    </div>
    <table>
        <tr ng-repeat="recruiter in recruiters">
            <td ng-bind="recruiter.id"></td>
            <td ng-bind="recruiter.statusMsg"></td>
            <td ng-if="recruiter.calculateStatus() == 'RECRUITING'" ng-bind="recruiter.actionMsg"></td>
            <td ng-if="recruiter.calculateStatus() == 'RECRUITS_WAITING'"><button type="button" ng-click="inspectRecruits(recruiter.id)">Inspect recruits</button></td>
            <td ng-if="recruiter.calculateStatus() == 'UNAVAILABLE'" ng-bind="recruiter.actionMsg"></td>
            <td ng-if="capacity !== 0 && recruiter.calculateStatus() == 'AVAILABLE'"><button type="button" ng-click="sendOnRecruitment(recruiter.id)">Send on recruitment mission</button></td>
            <td ng-if="capacity === 0 && recruiter.calculateStatus() == 'AVAILABLE'">Unable to recruit due to insufficient quarter space</td>
        </tr>
    </table>
    <a href="#/">Go back</a>
</div>